<footer>
  <div class="content">
    <div class="card-body">
      <div class="container-Conct">
        <div class="d-flex justify-content-center" *ngFor="let item of list_Icon.slice(0,3)">
          <a [href]="item.link" target="_blank">
            <button class="btn btn-primary buttons">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                [class]="item.text1" viewBox="0 0 16 16">
                <path [attr.d]="item.text2"></path>
                <path [attr.d]="item.text3"></path>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div>
    </div>
    <h4 style="color: white;"> © {{currentYear}} Copyright: Realizado por Katherine Flores</h4>
  </div>
</footer>
