@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.parrafo{
    text-align: center;
    font-family: 'PT Serif, serif';
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.5;
    color: rgb(3, 3, 3);
}

.name{
    display: flex;
    justify-content: center;
    font-family: 'PT Serif, serif';
    font-weight: 800;
    place-items: center;
    text-align: center;
    color: rgb(3, 3, 3);
}
.animate{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    margin: 0 auto;
    border-right: 0.15em solid transparent;
    animation: typing 7s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 95%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@media (max-width: 767px) {
    .name {
        font-size: 1rem;
    }

    .animate {
        font-size: 0.9rem;
        width: 100%;
    }
    .parrafo{
      font-size: 1.5rem;
    }

}
/* TODO: HACER QUE HAGA LA IMAGEN A UN LADO  Y EL NOMBRE Y DESARROLLADOR AL CENTRO*/
/* @media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .parrafo {
    display: none;
  }

  .name,
  .desarrollador,
  .photo-imagen {
    margin-left: 20px;
  }
} */

.Photo{
    width: 200px;
    height: auto;
    border-radius: 6rem;
}
.photo-imagen{
    display: flex;
    justify-content: center;
}
.desarrollador{
  display: flex;
  justify-content: center;
}
@media (max-width: 425px){
    .Photo{
        width: 150px;
    }
}

.br-sepa{
    margin: 10px auto; /* Ajusta el margen superior e inferior y establece el margen izquierdo y derecho como "auto" */
    border-top: 5px solid rgb(3, 3, 3);
    border-radius: 2rem;
    width: 80%;
    display: block;
}
@media (max-width: 425px){
    .br-sepa{
        text-align: center;
    }
}
.icon{
    display: flex;
    justify-content: center;
}
.Texto{
  text-align: center;
  font-family: 'PT Serif, serif';
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
  color: #060606;
}
.parrafo-sobre {
  text-align: justify;
  font-family: 'PT Serif, serif';
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5;
}

.sobreMi{
  display: flex;
  justify-content: center

}
.experiences{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.laboral{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.texto_experiences{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
  text-transform: capitalize;
  color: black;
  font-weight: 700;
}

.text-span{
    font-family: 'PT Serif, serif';
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
}
.card {
    width: 650px;
    background-color: rgba(255, 247, 247, 0.672);
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 425px){
    .card{
        width: 450px;
    }
}

.card-body {
    text-align: center;
}

.card-img-top {
   width: 45px;
   height: 40px;

}
.card-img-top:hover {
    transition-duration: 5ms;
    opacity: 0.9;
    transform: scale(1.2);

  }
@media (max-width: 425px){
    .card-img-top{
        width: 30px;
        height:30px;
    }
}

.Tecnologias{
    display: flex;
    justify-content: center;
}
.card-text{
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 500;
}

.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 60px;
  width: 70px;
  font-family: 'PT Serif, serif';
  color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: #1da1f2;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
  font-size: 1.0rem;
}

.social-btn svg {
  height: 30px;
  width: 30px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 110px;
}

.papper {
  position: relative;
  box-sizing: border-box;
  width: 650px;
  height: auto;
  background: #ffffff;
  background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
  border-radius: 10px;
}

.proyect{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
  justify-content: center;
}
.card-proyect{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'PT Serif, serif';
  width: 650px;
  height: 1050px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba(255, 247, 247, 0.672);
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.card-title{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.button-separator {
  margin-right: 10px;
}

@media(max-width:767px)  {

  .card-proyect{
    width: 400px;
  }
  .card-text{
    line-height: 1.0;
    font-size: 0.8rem;
  }
  .social-btn{
    font-size: 0.8rem;
  }
  .social-btn svg{
    width: 25px;
    height: 25px;
  }
  .papper{
    width: 400px;
    height: auto;
  }
  .card-proyect{
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
  }
}