/* You can add global styles to this file, and also import other style files */

body{
  background-color:white;
  background-image: url(assets/Desarrollador.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed, scroll;
  background-position: center top;
}

@media (max-width: 767px) {
  body {
      background-color: #f0f0f0;
      background-image: url(assets/Desarrollador.gif);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      background-size: contain;
  }
}


