/* You can add global styles to this file, and also import other style files */

body{
  background-color:#77c6ff;
  /* background-image: url(assets/homeImage.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

@media (max-width: 767px) {
  body {
      background-color:#77c6ff;
      /* background-image: url(assets/homeImage.png); */
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      background-size: contain;
  }
}


